
<!-- <div class="table-reponsive">
  <table class="table table-hower">
    <thead>
      <tr>
        <th>No</th><th>Name</th><th>Address</th>
      </tr>

    </thead>
    <tbody>
        <tr *ngfor="let emp of employees">
          <td>{{emp.no}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.address}}</td>
          <td><a router-link="/edit/{{emp.no}}">Edit</a></td>
          <td>
            <button type="button" (click)="Delete(emp.no)" class="btn btn-warning">Delete</button>
          </td>

        </tr>
    </tbody>  


  </table>
</div>

<span>
  {{message}}
</span> -->